/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea/
/.idea/blade.xml
/.idea/workspace.xml
.idea/workspace.xml
.idea/secondTry.iml
/.idea
/public/uploads
composer.phar
secondTry.iml
workspace.xml